<div class="card mb-3 {{ task.status | statusEnumToClass }}">
  <div class="card-header">
    <i class="fa {{ task.status | statusEnumToIcon }}"></i>
    {{ statuses[task.status] | splitByUpperCase }}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ task.title }}</h4>
    <p class="card-text">{{ task.description }}</p>
  </div>
  <div class="card-icons-wrapper">
    <ul class="list-inline member-icons text-center">
      <li class="list-inline-item" [routerLink]="['/tasks/', task.id]" title="Edit task">
        <i class="fa fa-pencil"></i>
      </li>
      <li class="list-inline-item" (click)="addSubTask()" title="Add Subtask">
        <i class="fa fa-plus"></i>
      </li>
      <li class="list-inline-item" (click)="deleteTask()" title="Delete task">
        <i class="fa fa-trash"></i>
      </li>
    </ul>
  </div>
</div>
<div class="container mt-3">
  <div class="col ml-4" *ngIf="task.subtasks != null && task.subtasks.length">
    <div *ngFor="let task of task.subtasks">
      <app-task-card [task]="task"></app-task-card>
    </div>
  </div>
</div>
